<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block side_block %}

{% endblock %}

{% block body_block %}
    <div class="container-fluid"></div>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-10">
                <div class="page-header" style="">
                    <h1>Welcome to HealthNet, {{ user.profile.get_name }}</h1>
                </div>
                <div class="profile-tabs">
                    <ul class="nav nav-tabs" style="">
                        <li role="presentation"><a
                                href="{% url "user:profile" username=user.username %}">User Details</a></li>
                        <li role="presentation" class="active"><a
                                href="{% url "user:med_his:insurance" username=user.username %}">Insurance</a>
                        </li>
                        <li role="presentation"><a href="{% url 'user:contact' username=user.username %}">Emergency
                            Contacts</a></li>
                        <li role="presentation"><a href="{% url 'user:med_his:appointments' %}">Appointments</a>
                        <li role="presentation"><a href="{% url "user:med_his:conditions" username=user.username %}">Conditions</a>
                        </li>
                        <li role="presentation"><a href="{% url "user:med_his:tests" username=user.username %}">Test
                            Results</a></li>
                        <li role="presentation"><a href="{% url "user:med_his:prescriptions" username=user.username %}">Prescriptions</a>
                        </li>
                        <li role="presentation"><a
                                href="{% url "user:med_his:export" username=user.username %}">Export</a></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a type="button" autofocus=""
                                   href="{% url "user:med_his:insurance" username=user.username %}">
                                    <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                                </a>
                                <strong> {{ user.profile.get_name }}</strong></h3>
                        </div>
                        <ul class="list-group">
                            <form class="form-horizontal" role="form" method="post" action=".">
                                {% csrf_token %}
                                <li class="list-group-item" role="tablist" >
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Company:</label>
                                        <div class="col-sm-10">
                                            <input required="true" type="text" class="form-control" id="inputCompany" name="company" value="{{ insurance.company }}">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" >
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Insurance ID Number:</label>
                                        <div class="col-sm-10">
                                            <input required="true" type="text" class="form-control" id="inputID" name="ID" value="{{ insurance.insurance_id }}">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" role="tablist" >
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Policy Number:</label>
                                        <div class="col-sm-10">
                                            <input required="true" type="text" class="form-control" id="inputPolicyNumber" name="policy_number" value="{{ insurance.policy_number }}">
                                        </div>
                                    </div>
                                </li>
                                <div class="col-md-1 col-md-offset-10 col-xs-offset-4">
                                    <button type="submit" class="btn btn-default" autofocus="">
                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
                                    </button>
                                </div>

                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>

    {% else %}
        <script language="javascript">
            window.location.href = "/"
        </script>
    {% endif %}
    </div>
{% endblock %}
</html>